* {
    margin: 0;
    padding: 0;
}





dialog {
    margin: auto;
    border: none;
    border-radius: 6px;
    opacity: 0;
    transition: all 0.3s allow-discrete;
    width: 100vw;


}



dialog[open] {
    opacity: 1;
}

@starting-style {
    dialog[open] {
        opacity: 0;
    }
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.3s allow-discrete;
}

dialog[open]::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
}

@starting-style {
    dialog[open]::backdrop {
        background-color: rgba(0, 0, 0, 0);
    }
}


